# Town Service
TOWN_SERVICE_POSTGRES_USER=
TOWN_SERVICE_POSTGRES_PASSWORD=
TOWN_SERVICE_POSTGRES_DB=
TOWN_SERVICE_POSTGRES_DB_PORT=

# Character Service
CHARACTER_SERVICE_POSTGRES_USER=
CHARACTER_SERVICE_POSTGRES_PASSWORD=
CHARACTER_SERVICE_POSTGRES_DB=
CHARACTER_SERVICE_POSTGRES_DB_PORT=

# Rumours Service
RUMOURS_POSTGRES_USER=
RUMOURS_POSTGRES_PASSWORD=
RUMOURS_POSTGRES_DB=
RUMOURS_POSTGRES_DB_PORT=
CURRENCY_SERVICE_URL=

# Communication Service
COMM_POSTGRES_USER=
COMM_POSTGRES_PASSWORD=
COMM_POSTGRES_DB=
COMM_POSTGRES_DB_PORT=