TOWN_SERVICE_POSTGRES_USER=
TOWN_SERVICE_POSTGRES_PASSWORD=
TOWN_SERVICE_POSTGRES_DB=
TOWN_SERVICE_POSTGRES_DB_PORT=

CHARACTER_SERVICE_POSTGRES_USER=
CHARACTER_SERVICE_POSTGRES_PASSWORD=
CHARACTER_SERVICE_POSTGRES_DB=
CHARACTER_SERVICE_POSTGRES_DB_PORT=