[submodule "pad-lab-town-service"]
	path = pad-lab-town-service
	url = https://github.com/DmitriiKaban/pad-lab-town-service
[submodule "pad-lab-character-service"]
	path = pad-lab-character-service
	url = https://github.com/DmitriiKaban/pad-lab-character-service
[submodule "communication-service"]
	path = communication-service
	url = https://github.com/mirrerror/mafia-platform-communication-service
[submodule "rumours-service"]
	path = rumours-service
	url = https://github.com/mirrerror/mafia-platform-rumours-service
