[submodule "pad-lab-town-service"]
	path = pad-lab-town-service
	url = https://github.com/DmitriiKaban/pad-lab-town-service
[submodule "pad-lab-character-service"]
	path = pad-lab-character-service
	url = https://github.com/DmitriiKaban/pad-lab-character-service
[submodule "communication-service"]
	path = communication-service
	url = https://github.com/mirrerror/mafia-platform-communication-service
[submodule "rumours-service"]
	path = rumours-service
	url = https://github.com/mirrerror/mafia-platform-rumours-service
[submodule "task-service"]
	path = task-service
	url = https://github.com/NedealcovaIrina/task-service
[submodule "voting-service"]
	path = voting-service
	url = https://github.com/NedealcovaIrina/voting-service
[submodule "user-management-service"]
	path = user-management-service
	url = https://github.com/AlexandrinaGorcea/user-management-service
[submodule "game-service"]
	path = game-service
	url = https://github.com/AlexandrinaGorcea/game-service
[submodule "shop-service"]
	path = shop-service
	url = https://github.com/UrMjsty/shop-service
	branch = main
[submodule "roleplay-service"]
	path = roleplay-service
	url = https://github.com/UrMjsty/roleplay-service
	branch = main
